<nav
  [ngClass]="{
    'navbar navbar-expand-lg py-4 sticky-top  shadow-sm': true,
    
  }"
>
  <div class="container-fluid">
    <!-- Logo -->
    <a
      class="navbar-brand d-flex align-items-center gap-3 fw-bold text-primary fs-2"
    >
      <img
        src="image.png"
        alt="Logo"
        height="70"
        width="70"
        class="d-inline-block align-text-top rounded-2"
      />

      <i class="bi fs-5"></i> Task Management
    </a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div
      class="collapse navbar-collapse justify-content-center text-center"
      id="navbarSupportedContent"
    >
      <!-- Links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4 fs-5">
        <li class="nav-item">
          <a
            class="nav-link active text-dark"
            aria-current="page"
            href="project-list"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="task-details">Tasks</a>
        </li>
      </ul>

      <!-- Dark Mode Toggle Button -->
      <button
        type="button"
        class="btn btn-outline-dark rounded-pill px-3 py-2 mx-3"
        (click)="toggleDarkMode()"
      >
        {{ isDarkMode ? "☀️" : "🌙" }}
      </button>

      <div class="d-flex align-items-center gap-3">
        <!-- Avatar -->
        <div class="position-relative">
          <img
            src="avtar.jpg"
            height="50"
            width="50"
            alt="avatar"
            class="rounded-circle border border-3 border-primary shadow-lg"
            style="object-fit: cover"
          />
          <span
            class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle"
          >
            <span class="visually-hidden">Online</span>
          </span>
        </div>

        <!-- Username + Logout -->
        <div class="d-flex flex-column align-items-start">
          <span class="text fs-6">{{ username }}</span>
          <button
            type="button"
            class="btn btn-outline-primary rounded-pill px-3 border-0 w-75 mt-0"
            (click)="logout()"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
