<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg" style="width: 350px">
    <h2 class="text-center mb-3">Login</h2>

    <!-- Default Image -->
    <div class="text-center mb-3">
      <img
        src="avtar.jpg"
        alt="Login Image"
        class="rounded-circle"
        height="100px"
        width="100px"
      />
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="login()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Username"
          id="username"
          [(ngModel)]="username"
          name="username"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter Password"
          id="password"
          [(ngModel)]="password"
          name="password"
          #passwordInput="ngModel"
          required
          minlength="6"
        />
      </div>

      <div
        *ngIf="passwordInput.invalid && passwordInput.touched"
        class="text-danger"
      >
        <p *ngIf="passwordInput.errors?.['required']">Password is required.</p>
        <p *ngIf="passwordInput.errors?.['minlength']">
          Enter at least a 6-digit password.
        </p>
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="!username || !password"
      >
        Login
      </button>
    </form>

    <div class="text-center mt-3">
      <p>
        Don't have an account?
        <a
          class="text-primary"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="signUp"
          (click)="goToSignUp()"
          >Sign Up</a
        >
      </p>
    </div>

    <div *ngIf="isLoggedIn()" class="alert alert-success text-center mt-3">
      <p>Welcome, {{ getUsername() }}!</p>
    </div>
  </div>
</div>
