.login-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 57px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

.login-container button {
  width: 48%;
  padding: 10px;
  margin: 10px 1%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button[type="submit"] {
  background-color: #28a745;
  color: white;
}

.login-container button[type="submit"]:hover {
  background-color: #218838;
}

.login-container button[type="button"] {
  background-color: #007bff;
  color: white;
}

.login-container button[type="button"]:hover {
  background-color: #0056b3;
}

.login-container p {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
.welcome-message {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: green;
}
.login-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.signUp {
  text-decoration: none;
}
.active-link {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}
