<div class="container mt-4">
  <!-- Project Details Section -->
  <div *ngIf="selectedProject" class="project-details mt-4">
    <div class="card shadow-sm p-4">
      <h3 class="mb-4 text-primary">Project Details</h3>

      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <th scope="row">Title</th>
            <td>{{ selectedProject.title }}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ selectedProject.description }}</td>
          </tr>
          <tr>
            <th scope="row">Created By</th>
            <td>{{ selectedProject.createdBy }}</td>
          </tr>
          <tr>
            <th scope="row">Manager</th>
            <td>{{ selectedProject.manager }}</td>
          </tr>
          <tr>
            <th scope="row">Start Date</th>
            <td>{{ selectedProject.startDate }}</td>
          </tr>
          <tr>
            <th scope="row">End Date</th>
            <td>{{ selectedProject.endDate }}</td>
          </tr>
          <tr>
            <th scope="row">Team Members</th>
            <td>{{ selectedProject.teamMembers }}</td>
          </tr>
          <tr>
            <th scope="row">Due Date</th>
            <td>{{ selectedProject.dueDate }}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex gap-2 mt-3">
        <button class="btn btn-secondary" (click)="closeProjectDetails()">
          Back to Projects
        </button>
      </div>
    </div>
  </div>
</div>
