/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 90%;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
/* body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
} */

.dark-mode {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}

.dark-mode .navbar {
  background-color: #1f1f1f !important;
}

.dark-mode .nav-link {
  color: #e0e0e0 !important;
}

.dark-mode .dropdown-menu {
  background-color: #501a1a;
  color: white;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #333;
}

.dark-mode .btn {
  border-color: #555;
}

.dark-mode .btn-outline-primary {
  color: #90caf9;
  border-color: #90caf9;
}

.dark-mode .btn-outline-primary:hover {
  background-color: #90caf9;
  color: black;
}
