<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg" style="width: 350px">
    <h2 class="text-center mb-3">Create an Account</h2>

    <!-- Registration Form -->
    <form (ngSubmit)="register()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Username"
          id="username"
          [(ngModel)]="username"
          name="username"
          required
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter Email"
          id="email"
          [(ngModel)]="email"
          name="email"
          #emailInput="ngModel"
          required
          email
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        />
        <div
          *ngIf="emailInput.invalid && emailInput.touched"
          class="text-danger"
        >
          <p *ngIf="emailInput.errors?.['required']">Email is required.</p>
          <p *ngIf="emailInput.errors?.['email']">Invalid email format.</p>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter Password"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="!username || !email || !password"
      >
        Register
      </button>
    </form>

    <div class="text-center mt-3">
      <p>
        Already have an account?
        <a
          class="text-primary"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/login"
          (click)="router.navigate(['/login'])"
          >Login</a
        >
      </p>
    </div>
  </div>
</div>
